*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Lato', sans-serif;

    
}

body{
    line-height: 1.5;
    background: linear-gradient(#F037A5 -60%, #FAE62D 140%);
}

/* -------------------- header -------------------- */

.container-header{
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    font-weight: bold;
    
}

.container-header> .logo img{
    /* background-image: url("../images/spotify-logo.png"); */
    /* padding: 28px; */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 132px;
    height: 40px;
    
}
    
.container-header > .menu-lista {
    display: flex;
    /* margin-right: -17px; */
    justify-content: space-around;
    padding: 28px 17px;
    color: white;
}

a{
    color: white;
}

.menu-lista > li > a{
    padding: 10px 32px;
}

.menu-lista > li > a:hover{
    color: rgba(0,205,118);
}

/* -------------------- main -------------------- */

.container-main{
    background-image: url(https://www.scdn.co/i/home/hero-burst.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1610px;
    height: 1523px;
    background-position: top -410px center;
    /* o problema do main não abrir é que tem que aumentar as padding da class container-main */
    text-align: center;
    margin: 0 auto; 
    z-index: 1;
    padding-top: 250px;
    padding-bottom: 250px;
    color: white;
    margin-right: 0;
}

h1{
    font-size: 80px;
    margin-bottom: 2%;
    font-weight: bold;
}

p{
    margin-bottom: 2%;
    font-size: 19px;
}

.botao2{
   color: white;
    background-color: #1DB954;
    padding: 16px 48px 18px;
    border-radius: 50px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
}


/* * -------------------- footer -------------------- */ 

footer{
    background-color: black;
    color: white;
    flex-direction: column;
}

.container-footer > nav{
    padding: 50px;
    display: flex;
    justify-content: space-around;

}

.container-footer > nav > .coluna-legal{
    display: flex;
    padding: 28px 17px;
    justify-content: space-around;
    
}

.container-footer > .footer3 > div > ol > li:first-child{
    font-weight: bold;
    margin-bottom: 5px;
}

.container-footer > .footer3 > .coluna-redes{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}   

.coluna-legal > li{
padding: 10px 8px;
}

.footer3 > div > ol > li{
margin-bottom: 2px;
}

.footer3 > .coluna-empresa{
    padding-left: 15px;
    padding-right: 15px;
        
}